@import "./scss/base.scss";
@import "./scss/footer.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto Regular";
  font-size: 16px;
  color: #000;
}

.library__button--active {
  background: red;
}

.none {
  display: none;
}
