@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Thin";
  src: url("../fonts/Roboto-Thin.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto-Black.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Italic";
  src: url("../fonts/Roboto-Italic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Thin Italic";
  src: url("../fonts/Roboto-ThinItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Medium Italic";
  src: url("../fonts/Roboto-MediumItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Bold Italic";
  src: url("../fonts/Roboto-BoldItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Black Italic";
  src: url("../fonts/Roboto-BlackItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Light Italic";
  src: url("../fonts/Roboto-LightItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
