.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  height: 70px;
}

.footer__text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Roboto Regular";
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 16px;
  letter-spacing: 0, 03;

  svg {
    width: 16px;
    height: 16px;
  }
}

.copyright {
  fill: #656565;
}
.footer__heart {
  fill: #ff6b08;
}
.footer__heart:hover {
  fill: #ff0000;
}

.footer__link {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
}
