.form {
  // display: flex;
  // align-items: center;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  // border-radius: 3px;
  overflow: hidden;
  border-bottom: 1px solid #000;
}
.input__wrapper {
  display: flex;
  width: 100%;
}
.form__input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
}
.form__button {
  border: none;
  background: none;
  outline: none;
}
.form__search {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url("./images/search.svg");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.form__alert {
  position: absolute;
  color: red;
  top: 150px;
  left: 35%;
}
