#header {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 50px;
  background-image: url("./images/header_home_mobile.png");
}

.home {
  background-color: black;
}

.home-page {
  background-color: brown;
}

.my-library {
  background-color: #d87093;
}

.header-detalis {
  background-color: purple;
}

.page__nav {
  display: flex;
  align-items: center;
  padding: 46px 20px 14px;
}

.route {
  cursor: pointer;
  color: $header-txt;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto Medium";
  font-size: 12px;
  line-height: 16px;
}

.selected {
  position: relative;

  &::after {
    display: block;
    content: "";
    position: absolute;
    background-color: $highlighter;
    width: 100%;
    height: 3px;
    margin: 3px auto 0px;
  }
}

#home {
  margin-right: 16px;
}

.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.home-link {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  font-size: 0;

  &:hover {
    text-decoration: none;
    color: $header-txt;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    top: -32px;
    left: 20px;
    width: 48px;
    height: 48px;
    background-image: url("./images/film.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
}

.js-buttons {
  display: flex;
  justify-content: space-around;
}

.library__button {
  width: 130px;
  height: 44px;
  border: 1px solid $btn-txt-hover;
  border-radius: 5px;
  color: $btn-txt-hover;
  font-size: 12px;
  line-height: 16px;
  background: transparent;
  text-transform: uppercase;
}

.library__button--active {
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .page__nav {
    padding: 46px 74px 20px;
  }
  #home {
    margin-right: 40px;
  }
  .home-link {
    font-size: 30px;
    line-height: 36px;
    color: $header-txt;
    padding-left: 40px;
    &::before {
      top: -2px;
      left: 0;
    }
  }
  .js-buttons {
    justify-content: center;
  }
  .library__button {
    width: 140px;
    margin-right: 20px;
  }
}
