//colors
$overlay: rgba(0, 0, 0, 0.56);
$highlighter: #ff6b08;
$btn-txt-hover: #fff;
$main-txt: #000;
$header-txt: #fff;
$votes-bg: rgb(247, 247, 247);
$categories-text: rgba(0, 0, 0, 0.6);
$footer-txt: rgba(0, 0, 0, 0.8);
$footer-bg: rgb(247, 247, 247);
